<div class="container">

	<h3><strong><%= @user.first_name.capitalize %></strong> is a member of the following libraries:</h3>
  <hr>
	<ul>
  	<% @libraries.each do |lib| %>
      <li><%= lib.name.split.each{|word| word.capitalize}.join(" ") %></li>
  	<% end %>
	</ul>

  <%= link_to "Browse libraries to join", libraries_path %>
</div>
