<div class='container'>
  <h1> Libraries</h1>
  <hr>
    <% @libraries.each do |library| %>
      <h3><%= library.name %> </h3>
        <% if current_user %>
          <%= button_to "Join", library_users_path(library) %>
        <% end %>

      <br>
    <%end %>

  <br>
	<%= link_to 'Add New Library', new_library_path %>
</div>
